@model Entities.Concrete.TableModels.Person
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@* <h1>Edit</h1> *@


<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Edit Person</h3></div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-group d-flex justify-content-between">

                                <input asp-for="ID" type="text" hidden class="form-control w-50" id="id" readonly />
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12 w-100">
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        @*         <span>First Name</span> *@

                                        <input asp-for="ID" type="text" class="form-control w-100" id="PersonID" placeholder="Enter ID" />
                                        <label for="ID" class="w-25">ID</label>

                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        @*         <span>First Name</span> *@

                                        <input asp-for="FirstName" type="text" class="form-control w-100" id="PersonFirstName" placeholder="Enter FirstName" />
                                        <label for="FirstName" class="w-25">First Name</label>

                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        @* <span>Last Name</span> *@

                                        <input asp-for="LastName" type="text" class="form-control w-100" id="PersonLastName" placeholder="Enter LastName" />
                                        <label for="LastName" class="w-25">Last Name</label>

                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        @* <span>Date of Birth</span> *@

                                        <input asp-for="DateofBirth" type="date" class="form-control w-100" id="PersonDateofBirth" placeholder="Enter DateofBirth" />
                                        <label for="DateofBirth" class="w-25">Date of Birth</label>

                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        @*      <span>Adress</span> *@

                                        <input asp-for="Adress" type="text" class="form-control w100" id="PersonAdress" placeholder="Enter Adress" />
                                        <label for="Adress" class="w-25">Adress</label>

                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        @*   <span>Email</span> *@

                                        <input asp-for="Email" type="text" class="form-control w-100" id="PersonEmail" placeholder="Enter Email" />
                                        <label for="Email" class="w-25">Email</label>

                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        @*  <span>Website</span> *@

                                        <input asp-for="Website" type="text" class="form-control w-100" id="PersonWebsite" placeholder="Enter Website" />
                                        <label for="Website" class="w-25">Website</label>

                                    </div>

                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        @*    <span>Img Path</span> *@
                                        <input asp-for="ImageFile" type="file" class="form-control w-100" id="PersonImgPath" placeholder="Enter ImgPath" />
                                        <label for="ImageFile" class="w-25">Img Path</label>

                                       @*  <label asp-for="ImageFile" class="control-label"></label>
                                        <input asp-for="ImageFile" class="custom-file-input" type="file" /> *@

                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        @*    <span>CV Path</span> *@
                                        <input asp-for="CvFile" type="file" class="form-control w-100" id="PersonCvFile" placeholder="Enter CVPath" />
                                        <label for="PersonCvFile" class="w-25">CV Path</label>
                                      @*   <label asp-for="CvFile" class="control-label"></label>
                                        <input asp-for="CvFile" class="custom-file-input" type="file" /> *@

                                    </div>
                                    <select asp-for="Position.ID" class="p-2 rounded-2 " style="border: 1px solid #d1d3e2; outline:none">
                                        <option value="">Position</option>
                                        @foreach (var item in ViewData["Persons"] as IEnumerable<Position>)
                                        {
                                            <option value="@item.ID">@item.Name</option>
                                        }
                                    </select>
                                    <div class="form-floating mt-5 mb-md-3 d-flex align-items-center justify-content-between">
                                        @*    <span>Description</span> *@
                                        <input asp-for="Description" type="text" class="form-control w-100" id="PersonDescription" placeholder="Enter Description" />
                                        <label for="Description" class="w-25">Description</label>

                                    </div>


                                </div>
                            </div>
                            <div class="mt-5 mb-0">
                                <button type="submit" class="btn btn-success w-100">Save</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
